html, body {
    height: 100%;
    width: 100%;
    background: #e5cccc
  }
  button{
    background: #55d7dd;
    width:60px;
    padding: 20px;
    margin: 0px 3px;
    border:  2px solid black;
    border-radius: 9px;
    cursor: pointer;
  }
  .row{
    margin: 8px 0;
  }
  .row input{
    font-size: 22px;
    margin: 0;
    padding: 14px 0px;
    border: 2px solid black;
    border-radius: 5px;
  }